In [382]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

# Reading all the Legal Menu Summary Information
august_summary = pd.read_excel('Legal Menu Summary Reports/August 2024.xlsx', dtype=str, keep_default_na=False)
december_summary = pd.read_excel('Legal Menu Summary Reports/December 2024.xlsx', dtype=str, keep_default_na=False)
february_summary = pd.read_excel('Legal Menu Summary Reports/February 2025.xlsx', dtype=str, keep_default_na=False)
january_summary = pd.read_excel('Legal Menu Summary Reports/January 2025.xlsx', dtype=str, keep_default_na=False)
july_summary = pd.read_excel('Legal Menu Summary Reports/July 2024.xlsx', dtype=str, keep_default_na=False)
june_summary = pd.read_excel('Legal Menu Summary Reports/June 2024.xlsx', dtype=str, keep_default_na=False)
march_summary = pd.read_excel('Legal Menu Summary Reports/March 2025.xlsx', dtype=str, keep_default_na=False)
may_summary = pd.read_excel('Legal Menu Summary Reports/May 2024.xlsx', dtype=str, keep_default_na=False)
november_summary = pd.read_excel('Legal Menu Summary Reports/November 2024.xlsx', dtype=str, keep_default_na=False)
october_summary = pd.read_excel('Legal Menu Summary Reports/October 2024.xlsx')
september_summary = pd.read_excel('Legal Menu Summary Reports/September 2024.xlsx', dtype=str, keep_default_na=False)

In [383]:
def header_cleaning(df):
    df.rename(columns={'Time Zone: (UTC-05:00) Central Daylight Time (America/Chicago)': 'Legal_Menu_Option',
                       'Time Zone: (UTC-06:00) Central Standard Time (America/Chicago)': 'Legal_Menu_Option',
                       'Unnamed: 1': 'Menu_Selection',
                       'Unnamed: 2': 'Queue_Selection',
                       'Unnamed: 3': 'Group_Suboption',
                       'Unnamed: 4': 'Final_Queue_Name',
                       'Unnamed: 5': 'Total_Calls',
                       'Unnamed: 6': 'Live_Queued_Calls',
                       'Unnamed: 7': 'Callback_Queued_Calls',
                       'Unnamed: 8': 'Closed_Queue_Calls',
                       'Unnamed: 9': 'Abandoned_Calls'
                       }, inplace= True)
    df = df.iloc[2:]
    df.replace('', pd.NA, inplace=True)
    df.fillna(method='ffill', inplace=True)
    df.reset_index(inplace = True, drop = True)
    return df

In [384]:
january_summary = header_cleaning(january_summary)
february_summary = header_cleaning(february_summary)
march_summary = header_cleaning(march_summary)
may_summary = header_cleaning(may_summary)
june_summary = header_cleaning(june_summary)
july_summary = header_cleaning(july_summary)
august_summary = header_cleaning(august_summary)
september_summary = header_cleaning(september_summary)
october_summary = header_cleaning(october_summary)
november_summary = header_cleaning(november_summary)

all_datasets = [january_summary, february_summary, march_summary, may_summary, june_summary, july_summary, august_summary, september_summary, october_summary, november_summary]

In [385]:
def top_five_usages(df):
    return df.sort_values(by = 'Total_Calls', ascending = False).head()

def bottom_five_usages(df):
    return df.sort_values(by = 'Total_Calls', ascending = True).head()

In [386]:
top_five_usages(november_summary)

,Legal_Menu_Option,Menu_Selection,Queue_Selection,Group_Suboption,Final_Queue_Name,Total_Calls,Live_Queued_Calls,Callback_Queued_Calls,Closed_Queue_Calls,Abandoned_Calls
28,Criminal Records,N/A,N/A,N/A,Criminal Records Voicemail Transfer,96,0,0.0,0,4
77,Family,Simple Divorce,Family,Divorce with DV,Clinic Voicemail Transfer,9,0,0.0,9,2
131,Immigration,N/A,Immigration,Naturalization,N/A,9,0,0.0,9,9
177,Pre-Legal Seniors,N/A,SubSenior Family,SubSenior Family,N/A,9,0,0.0,7,9
63,Family,N/A,Family,DCFS,N/A,87,0,0.0,87,85

In [387]:
top_legal_menu_options = pd.DataFrame(columns=['Legal_Menu_Option', 'Total_Calls'])
top_menu_selections = pd.DataFrame(columns = ['Menu_Selection', 'Total_Calls'])
top_queue_selections = pd.DataFrame(columns = ['Queue_Selection', 'Total_Calls'])
top_final_queue_names = pd.DataFrame(columns = ['Final_Queue_Name', 'Total_Calls'])

bottom_legal_menu_options = pd.DataFrame(columns=['Legal_Menu_Option', 'Total_Calls'])
bottom_menu_selections = pd.DataFrame(columns = ['Menu_Selection', 'Total_Calls'])
bottom_queue_selections = pd.DataFrame(columns = ['Queue_Selection', 'Total_Calls'])
bottom_final_queue_names = pd.DataFrame(columns = ['Final_Queue_Name', 'Total_Calls'])

one_call = pd.DataFrame(columns = ['Legal_Menu_Option', 'Menu_Selection', 'Queue_Selection', 'Final_Queue_Name'])

for dataset in all_datasets:
    df = top_five_usages(dataset)
    top_legal_menu_options = pd.concat([top_legal_menu_options, df[['Legal_Menu_Option', 'Total_Calls']]], axis = 0)
    bottom_legal_menu_options = pd.concat([bottom_legal_menu_options, df[['Legal_Menu_Option', 'Total_Calls']]], axis = 0)

    top_menu_selections = pd.concat([top_menu_selections, df[['Menu_Selection', 'Total_Calls']]], axis = 0)
    bottom_menu_selections = pd.concat([bottom_menu_selections, df[['Menu_Selection', 'Total_Calls']]], axis = 0)

    top_queue_selections = pd.concat([top_queue_selections, df[['Queue_Selection', 'Total_Calls']]], axis = 0)
    bottom_queue_selections = pd.concat([bottom_queue_selections, df[['Queue_Selection', 'Total_Calls']]], axis = 0)

    top_final_queue_names = pd.concat([top_final_queue_names, df[['Final_Queue_Name', 'Total_Calls']]], axis = 0)
    bottom_final_queue_names = pd.concat([bottom_final_queue_names, df[['Final_Queue_Name', 'Total_Calls']]], axis = 0)

    one_call = pd.concat([one_call, dataset.loc[dataset['Total_Calls'] == '1', ['Legal_Menu_Option', 'Menu_Selection', 'Queue_Selection', 'Final_Queue_Name']]], axis = 0)

In [388]:
# In general, what is the usage rate of various options on the menu – what is high usage, low/no usage.

# top options
top_legal_menu_options['Total_Calls'] = top_legal_menu_options['Total_Calls'].apply(lambda x: int(x))
top_legal_menu_options = top_legal_menu_options.groupby('Legal_Menu_Option').sum()

top_menu_selections['Total_Calls'] = top_menu_selections['Total_Calls'].apply(lambda x: int(x))
top_menu_selections = top_menu_selections.groupby('Menu_Selection').sum()

top_queue_selections['Total_Calls'] = top_queue_selections['Total_Calls'].apply(lambda x: int(x))
top_queue_selections = top_queue_selections.groupby('Queue_Selection').sum()

top_final_queue_names['Total_Calls'] = top_final_queue_names['Total_Calls'].apply(lambda x: int(x))
top_final_queue_names = top_final_queue_names.groupby('Final_Queue_Name').sum()

# bottom options
bottom_legal_menu_options['Total_Calls'] = bottom_legal_menu_options['Total_Calls'].apply(lambda x: int(x))
bottom_legal_menu_options = bottom_legal_menu_options.groupby('Legal_Menu_Option').sum()

bottom_menu_selections['Total_Calls'] = bottom_menu_selections['Total_Calls'].apply(lambda x: int(x))
bottom_menu_selections = bottom_menu_selections.groupby('Menu_Selection').sum()

bottom_queue_selections['Total_Calls'] = bottom_queue_selections['Total_Calls'].apply(lambda x: int(x))
bottom_queue_selections = bottom_queue_selections.groupby('Queue_Selection').sum()

bottom_final_queue_names['Total_Calls'] = bottom_final_queue_names['Total_Calls'].apply(lambda x: int(x))
bottom_final_queue_names = bottom_final_queue_names.groupby('Final_Queue_Name').sum()

In [389]:
def abandon_closed_queue_corr(dataset):
    dataset['Closed_Queue_Calls'] = dataset['Closed_Queue_Calls'].astype(int)
    dataset['Abandoned_Calls'] = dataset['Abandoned_Calls'].astype(int)
    return np.corrcoef(dataset['Abandoned_Calls'], dataset['Closed_Queue_Calls'])

In [390]:
abandoned_closed_queue = pd.DataFrame(columns=['Month', 'Correlation'])
months = ['January', 'February', 'March', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
i = 0

for dataset in all_datasets:
    dataset = dataset[:len(all_datasets[i]) - 1]
    new_row = pd.DataFrame({
        'Month': [months[i]], 
        'Correlation': [abandon_closed_queue_corr(dataset)[0][1]]
    })
    abandoned_closed_queue = pd.concat([abandoned_closed_queue, new_row], axis=0, ignore_index=True)
    i += 1

In [394]:
# Reading all the All Calls by Month Data
august_calls = pd.read_excel('All Calls by Month/August 2024.xlsx', dtype=str, keep_default_na=False)
december_calls = pd.read_excel('All Calls by Month/December 2024.xlsx', dtype=str, keep_default_na=False)
february_calls = pd.read_excel('All Calls by Month/February 2025.xlsx', dtype=str, keep_default_na=False)
january_calls = pd.read_excel('All Calls by Month/January 2025.xlsx', dtype=str, keep_default_na=False)
july_calls = pd.read_excel('All Calls by Month/July 2024.xlsx', dtype=str, keep_default_na=False)
march_calls = pd.read_excel('All Calls by Month/March 2025.xlsx', dtype=str, keep_default_na=False)
#november_calls = pd.read_excel('All Calls by Month/November 2024.xlsx', dtype=str, keep_default_na=False)
october_calls = pd.read_excel('All Calls by Month/October 2024.xlsx', dtype=str, keep_default_na=False)

In [398]:
august_calls.head()
all_call_datasets = [january_calls, february_calls, march_calls, july_calls, august_calls, october_calls, december_calls]

for df in all_call_datasets:
    df['Start time'] = pd.to_datetime(df['Start time'].dt.tz_convert(None))

In [399]:
august_calls.head()

,Start time,Answer time,Duration,Called number,Correlation ID,Location,Inbound trunk,Outbound trunk,Route group,Direction,...,Final local sessionID,Final remote sessionID,Answer Indicator,Ring duration,Release time,Report time,PSTN legal entity,PSTN vendor Org ID,PSTN vendor name,PSTN provider ID
0,2024-08-31 23:48:58.458,2024-08-31T23:48:58.592Z,55,13123411070,f20bb338-8e74-44df-944b-d42bb3635cb8,HQ,NA,wcc_Pc_tp-ipRwm_ku064NHZiw,NA,TERMINATING,...,5ebb8d750080439c8a61fd29f2a9d025,NA,Yes,0,2024-08-31T23:49:54.166Z,2024-08-31T23:49:54.166Z,NA,NA,CallTower,afc59c71-23c9-4884-bab9-535f916eb11b
1,2024-08-31 23:48:09.419,2024-08-31T23:48:09.447Z,5,13123478300,3de1e4d1-70b8-4a17-b6ae-564e524fee57,HQ,NA,NA,NA,TERMINATING,...,0108b5df2c2d4269b6314f9944df6225,NA,Yes,0,2024-08-31T23:48:15.050Z,2024-08-31T23:48:15.050Z,NA,NA,NA,NA
2,2024-08-31 23:48:09.419,2024-08-31T23:48:09.447Z,5,13123478300,3de1e4d1-70b8-4a17-b6ae-564e524fee57,HQ,NA,NA,NA,ORIGINATING,...,0108b5df2c2d4269b6314f9944df6225,0,Yes,0,2024-08-31T23:48:15.050Z,2024-08-31T23:48:15.050Z,NA,NA,NA,NA
3,2024-08-31 23:48:09.416,2024-08-31T23:48:09.447Z,5,13123478302,3de1e4d1-70b8-4a17-b6ae-564e524fee57,HQ,NA,NA,NA,TERMINATING,...,0,0108b5df2c2d4269b6314f9944df6225,Yes-PostRedirection,0,2024-08-31T23:48:15.050Z,2024-08-31T23:48:15.050Z,NA,NA,CallTower,afc59c71-23c9-4884-bab9-535f916eb11b
4,2024-08-31 23:30:45.191,2024-08-31T23:30:45.304Z,44,13123411070,de39c993-24c5-4378-9768-e2ea60994f1f,HQ,NA,wcc_Pc_tp-ipRwm_ku064NHZiw,NA,TERMINATING,...,1cca8de500804fafb320d6ebf0b47b21,NA,Yes,0,2024-08-31T23:31:30.079Z,2024-08-31T23:31:30.079Z,NA,NA,CallTower,afc59c71-23c9-4884-bab9-535f916eb11b

In [400]:
def most_frequent_hour(df):
    # Convert to datetime if it's not already
    df["Start time"] = pd.to_datetime(df["Start time"], errors='coerce')
    df = df.dropna(subset=["Start time"])    
    hours = df["Start time"].dt.hour  
    most_common = hours.mode()
    
    return most_common[0] if not most_common.empty else None

In [405]:
common_hrs_per_month = pd.DataFrame(columns=['Month', 'Hour'])
call_months = ['January', 'February', 'March', 'July', 'August', 'October', 'December']
i = 0

for dataset in all_call_datasets:
    new_row = pd.DataFrame({'Month': [call_months[i]], 'Hour': [f'{most_frequent_hour(dataset)}:00 - {most_frequent_hour(dataset) + 1}:00']})
    common_hrs_per_month = pd.concat([common_hrs_per_month, new_row], axis= 0, ignore_index= True)
    i += 1

common_hrs_per_month

      Month           Hour
0   January  16:00 - 17:00
1  February  17:00 - 18:00
2     March  16:00 - 17:00
3      July  15:00 - 16:00
4    August  15:00 - 16:00
5   October  15:00 - 16:00
6  December  15:00 - 16:00

In [412]:
def hourly_frequency(df):
    # Ensure datetime format
    df["Start time"] = pd.to_datetime(df["Start time"], errors='coerce')
    df = df.dropna(subset=["Start time"])
    
    # Extract hour
    hours = df["Start time"].dt.hour
    hour_counts = hours.value_counts().sort_index()
    
    # Build time range labels
    hour_labels = [f'{h}:00 - {h+1}:00' for h in hour_counts.index]
    
    # Construct result DataFrame
    result = pd.DataFrame({
        'Hour': hour_labels,
        'Frequency': hour_counts.values
    })
    
    return result

In [413]:
august_hourly_frequency = hourly_frequency(august_calls)
december_hourly_frequency = hourly_frequency(december_calls)
february_hourly_frequency = hourly_frequency(february_calls)
january_hourly_frequency = hourly_frequency(january_calls)
july_hourly_frequency = hourly_frequency(july_calls)
march_hourly_frequency = hourly_frequency(march_calls)
october_hourly_frequency = hourly_frequency(october_calls)

In [416]:
all_hr_freq = [august_hourly_frequency, december_hourly_frequency, february_hourly_frequency, january_hourly_frequency, july_hourly_frequency, march_hourly_frequency, october_hourly_frequency]
all_hours = pd.DataFrame(columns=['Hour', 'Frequency'])

for dataset in all_hr_freq:
    all_hours = pd.concat([all_hours, dataset], axis = 0)

all_hours = all_hours.groupby('Hour').sum()

In [417]:
all_hours

              Frequency
Hour
0:00 - 1:00        2378
10:00 - 11:00       433
11:00 - 12:00       848
12:00 - 13:00      3154
13:00 - 14:00     18726
14:00 - 15:00     40783
15:00 - 16:00     52844
16:00 - 17:00     52557
17:00 - 18:00     49040
18:00 - 19:00     46068
19:00 - 20:00     46933
1:00 - 2:00        1537
20:00 - 21:00     44749
21:00 - 22:00     36986
22:00 - 23:00     17823
23:00 - 24:00      4942
2:00 - 3:00         882
3:00 - 4:00         613
4:00 - 5:00         339
5:00 - 6:00         254
6:00 - 7:00         321
7:00 - 8:00         165
8:00 - 9:00         110
9:00 - 10:00        309